<a href="https://colab.research.google.com/github/mkbahk/PythonLearning/blob/main/_04_%EB%A6%AC%EC%8A%A4%ED%8A%B8%2C_%ED%8A%9C%ED%94%8C%2C_%EC%84%B8%ED%8A%B8%2C_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 리스트, 튜플, 세트, 딕셔너리



---

## 리스트(List)
* 변경 가능한 시퀀스 자료형
* 하나의 변수에 여러 값 할당 가능
* 같은 자료형이 아니라 다른 자료형을 가지는 값들을 포함 가능
* 일반적으로 비슷한 항목들의 모음을 순서대로 저장하는데 사용

In [104]:
print([])
print([1, 2, 3])
print(['One', 'Two', 'Three'])
print(['One', 'Two', 'Three'][0])
print(['One', 'Two', 'Three'][1])
print(['One', 'Two', 'Three'][2])
print(['One', 'Two', 'Three'][-1])
print(['One', 'Two', 'Three'][-2])
print(['One', 'Two', 'Three'][-3])

print([1, 'One', 2, 'Two', 3, 'Three'])

l = [1, 2, 3, ['One', 'Two', 'Three']]
print(l)
print(l[0])
print(l[3])
print(l[3][0][2])

[]
[1, 2, 3]
['One', 'Two', 'Three']
One
Two
Three
Three
Two
One
[1, 'One', 2, 'Two', 3, 'Three']
[1, 2, 3, ['One', 'Two', 'Three']]
1
['One', 'Two', 'Three']
e




### 리스트 인덱싱(List Indexing)

* 리스트의 각 위치에 해당하는 값에 접근하기 위해서 주소 개념의 숫자를 사용

'One','Two','Three'<br>
[0],[1],[2]<br>
[-3],[-2],[-1]<br>

In [105]:
print(['One', 'Two', 'Three'])
print(['One', 'Two', 'Three'][0])
print(['One', 'Two', 'Three'][1])
print(['One', 'Two', 'Three'][2])
print(['One', 'Two', 'Three'][-1])
print(['One', 'Two', 'Three'][-2])
print(['One', 'Two', 'Three'][-3])

print([1, 'One', 2, 'Two', 3, 'Three'])

l = [1, 2, 3, ['One', 'Two', 'Three']]
print(l)
print(l[0])
print(l[3])
print(l[3][0][2])

['One', 'Two', 'Three']
One
Two
Three
Three
Two
One
[1, 'One', 2, 'Two', 3, 'Three']
[1, 2, 3, ['One', 'Two', 'Three']]
1
['One', 'Two', 'Three']
e

In [106]:
list = ['One', 'Two', 'Three']
print(list)
print(list[0])
print(list[1])
print(list[2])
print(list[-1])
print(list[-2])
print(list[-3])

['One', 'Two', 'Three']
One
Two
Three
Three
Two
One

### 중첩 리스트 인덱싱(Nested List Indexing)

* 리스트 안에 리스트가 있을 경우 인덱스 접근 방법

[1, 2, 3, ['one', 'two', 'three']]<br>
[0] [1] [2] [3][0] [3][1] [3][2]

In [107]:
list = [1, 2, 3, ['One', 'Two', 'Three']]
print(list)
print(list[3])
print(list[3][0])
print(list[3][0][0])

a = b = c = 5
print(a, b, c)

[1, 2, 3, ['One', 'Two', 'Three']]
['One', 'Two', 'Three']
One
O
5 5 5

### 리스트 슬라이싱(List Slicing)

* 리스트의 인덱스를 통해서 부분만 가져올 때 사용

In [108]:
list = ['One', 'Two', 'Three']
print(list)
print(list[0:])
print(list[:-1]) #우리가 의도한데로 나오지 않음
print(list[:])
print(list[1:2])
print(list[1:])

['One', 'Two', 'Three']
['One', 'Two', 'Three']
['One', 'Two']
['One', 'Two', 'Three']
['Two']
['Two', 'Three']

### 중첩 리스트 슬라이싱(Nested List Slicing)

* 중첩된 리스트에서 일부분만 인덱스를 통해서 가져올 때 사용

In [109]:
list = [1, 2, 3, ['One', 'Two', 'Three']]
print(list)
print(list[2:4])
print(list[3][:2])

[1, 2, 3, ['One', 'Two', 'Three']]
[3, ['One', 'Two', 'Three']]
['One', 'Two']

### 리스트 연산자/함수(List Operators/Function)

* 더하기 + 연산자
* 곱하기 * 연산자
* 리스트 길이를 구하는 `len()` 함수

In [110]:
list_1 =  ['One', 'Two', 'Three']
list_2 = ['Four', "Five", 'Six']

print(list_1)
print(list_2)
print(list_1 + list_2)
#print(list_1 + 3)
print(list_1 * 3)
#print(list_1 * list_2)
print(len(list_1))
print(len(list_1) * 3)

['One', 'Two', 'Three']
['Four', 'Five', 'Six']
['One', 'Two', 'Three', 'Four', 'Five', 'Six']
['One', 'Two', 'Three', 'One', 'Two', 'Three', 'One', 'Two', 'Three']
3
9

### 리스트 수정(List Modify)

* 리스트 인덱스 주소를 이용한 값 수정

In [111]:
list =  ['One', 'Two', 'Three']
print(list)
list[2] = 3
print(list)
list[1] = 2
list[0] = 1
print(list)

['One', 'Two', 'Three']
['One', 'Two', 3]
[1, 2, 3]

### 리스트 메소드(List Methods)

#### append()

* 리스트 요소 추가

In [112]:
list =  ['One', 'Two', 'Three']
list.append('Four')
print(list)
#list =  list + "Five"
list =  list + ["Five"]
print(list)
list.append([1, 2, 3])
print(list)

['One', 'Two', 'Three', 'Four']
['One', 'Two', 'Three', 'Four', 'Five']
['One', 'Two', 'Three', 'Four', 'Five', [1, 2, 3]]

#### sort()

* 리스트 정렬

In [113]:
list = [10, 40, 20, 30]
print(list)
list.sort()
print(list)

list = ['orange', 'apple', 'bananas', 'strawberry']
print(list)
list.sort()
print(list)

'''
list = ['orange', 'apple', 'bananas', 'strawberry', 1, "Three", 3, 2]
print(list)
list.sort()
print(list)
'''

'''
list = ['orange', 'apple', 'bananas', 'strawberry', ['One', 'Two', "Three"]]
print(list)
list.sort()
print(list)
'''

[10, 40, 20, 30]
[10, 20, 30, 40]
['orange', 'apple', 'bananas', 'strawberry']
['apple', 'bananas', 'orange', 'strawberry']

'\nlist = [\'orange\', \'apple\', \'bananas\', \'strawberry\', [\'One\', \'Two\', "Three"]]\nprint(list)\nlist.sort()\nprint(list)\n'

#### reverse()

* 리스트 요소 반전

In [114]:
list = ['orange', 'apple', 'bananas', 'strawberry']
print(list)
list.reverse()
print(list)

'''
list.reverse().sort()
print(list)
'''

['orange', 'apple', 'bananas', 'strawberry']
['strawberry', 'bananas', 'apple', 'orange']

'\nlist.reverse().sort()\nprint(list)\n'

#### index()

* 리스트의 요소 값에 대한 인덱스를 반환

In [115]:
list = [10, 40, 20, 30]
print(list)
print(list.index(10), '번째')
print(list)
print(list.index(20), '번째')

[10, 40, 20, 30]
0 번째
[10, 40, 20, 30]
2 번째

#### insert()

* 리스트 요소 삽입

In [116]:
list = [10, 40, 20, 30]
print(list)
list.insert(2, 50)
print(list)
list.insert(0, 60)
print(list)

[10, 40, 20, 30]
[10, 40, 50, 20, 30]
[60, 10, 40, 50, 20, 30]

#### remove()

* 리스트 요소 제거

In [117]:
list = [10, 40, 20, 30]
print(list)
list.remove(40)
print(list)
list.remove(30)
print(list)

[10, 40, 20, 30]
[10, 20, 30]
[10, 20]

#### del

* 리스트 요소 제거 연산

In [118]:
list = [10, 40, 20, 30]
print(list)
del list[0]  #index를 이용한 접근
print(list)
del list[2]  #index를 이용한 접근
print(list)

[10, 40, 20, 30]
[40, 20, 30]
[40, 20]

#### pop()

* 리스트 요소를 방출

In [119]:
list = [10, 40, 20, 30]
print(list)
list.pop()
print(list)
list.pop(0)
print(list)

[10, 40, 20, 30]
[10, 40, 20]
[40, 20]

#### count()

* 리스트 요소의 갯수 계산

In [120]:
list = [10, 40, 20, 30, 30, 20, 30]
print(list)
print(list.count(30))
print(list.count(20))

[10, 40, 20, 30, 30, 20, 30]
3
2

#### extend()

* 리스트 확장

In [121]:
list = [10, 40, 20, 30]
print(list)
list.extend(['One', "Two", [50, 60]])
print(list)

[10, 40, 20, 30]
[10, 40, 20, 30, 'One', 'Two', [50, 60]]

In [122]:
list_1 = [5, 4, 3, 2, 1]
list_2 = [0, 0, 0, 0, 0]
for item in list_1:
  list_2[-1] = item
  print(list_2)
###end of for
print(list_2)

[0, 0, 0, 0, 5]
[0, 0, 0, 0, 4]
[0, 0, 0, 0, 3]
[0, 0, 0, 0, 2]
[0, 0, 0, 0, 1]
[0, 0, 0, 0, 1]



---

## 튜플(Tuple)

* 리스트와 유사하지만 변경 불가능한 시퀀스 자료형
* 하나의 변수에 여러 값 할당 가능
* ‘(‘와 ‘)’를 사용하여 표현

In [123]:
print(())
print((1, 2, 3))
print(('One', 'Two', 'Three'))
print((1, 'One', 2, 'Two', 3, 'Three'))
print((1, 2, 3, ('One', 'Two', 'Three'))) #임의의 자료형(tuple 속에 tuple)도 들어올 수 있다.
print((1, 2, 3, ['One', 'Two', 'Three'])) #임의의 자료형(tuple 속에 list)도 들어올 수 있다.
print((1, 2, 3, {'One', 'Two', 'Three'})) #임의의 자료형(tuple 속에 set)도 들어올 수 있다.

()
(1, 2, 3)
('One', 'Two', 'Three')
(1, 'One', 2, 'Two', 3, 'Three')
(1, 2, 3, ('One', 'Two', 'Three'))
(1, 2, 3, ['One', 'Two', 'Three'])
(1, 2, 3, {'Two', 'Three', 'One'})

### 튜플 인덱싱(Tuple Indexing)

* 튜플의 각 위치에 해당하는 값에 접근하기 위해서 주소 개념의 숫자를 사용

In [126]:
tuple = ('One', 'Two', 'Three')
print(tuple)
print(tuple[0]) #tuple index접근은 '[]'방식으로
print(tuple[-1])

('One', 'Two', 'Three')
One
Three

### 중첩 튜플 인덱싱(Nested Tuple Indexing)

* 튜플 안에 튜플이 중첩되어 있을 경우, 인덱스 접근 방법

In [127]:
tuple = (1, 2, 3, ('One', 'Two', 'Three'))

print(tuple)
print(tuple[3])
print(tuple[3][1])

(1, 2, 3, ('One', 'Two', 'Three'))
('One', 'Two', 'Three')
Two

### 튜플 슬라이싱(Tuple Slicing)

* 튜플의 인덱스를 통해서 부분만 가져올 때 사용

In [129]:
tuple = (1, 2, 3, ('One', 'Two', 'Three'))

print(tuple)
print(tuple[0:])
print(tuple[0:2])
print(tuple[1:])

(1, 2, 3, ('One', 'Two', 'Three'))
(1, 2, 3, ('One', 'Two', 'Three'))
(1, 2)
(2, 3, ('One', 'Two', 'Three'))

### 중첩 튜플 슬라이싱(Nested Tuple Slicing)

* 중첩된 튜플에서 일부분만 인덱스를 통해서 가져올 때 사용

In [131]:
tuple = (1, 2, 3, ('One', 'Two', 'Three'))

print(tuple)
print(tuple[3])
print(tuple[3][2:])
print(tuple[3][:2])

(1, 2, 3, ('One', 'Two', 'Three'))
('One', 'Two', 'Three')
('Three',)
('One', 'Two')

### 튜플 연산자/함수(Tuple Operators/Function)

* 더하기 + 연산
* 곱하기 * 연산
* 튜플 길이를 구하는 `len()` 함수

In [136]:
tuple_1 = ('One', 'Two', 'Three')
tuple_2 = ('Four', 'Five', 'Six')
print(tuple_1)
print(tuple_2)
print(tuple_1 + tuple_2)
print(tuple_1 * 3)
print(len(tuple_1))
print(len(tuple_1 + tuple_2))

('One', 'Two', 'Three')
('Four', 'Five', 'Six')
('One', 'Two', 'Three', 'Four', 'Five', 'Six')
('One', 'Two', 'Three', 'One', 'Two', 'Three', 'One', 'Two', 'Three')
3
6



---

## 세트(Set)

* 데이터 "**중복**"을 허용하지 않는 구조
* "**순서**"가 없는 데이터 집합을 위한 구조
* 인덱싱으로 값을 접근할 수 "**없음**"

In [165]:
print({})
print({"One", "Two", "Three"})
print({10, 40, 20, 30})

s = {60}
# s = set() 

s.add(10)
s.add(20)
s.add(30)
s.add(40)
print(s)
#print(s[0]) #Error/Index접근이 않됨

{}
{'Two', 'Three', 'One'}
{40, 10, 20, 30}
{40, 10, 20, 60, 30}

### 세트 연산자(Set Operators)

* 교집합: &
* 합집합: |
* 차집합: -
* 여집합: ^

In [141]:
set1 = {10, 20, 20, 30}
set2 = {30, 30, 40, 50}
print(set1)
print(set2)
print(set1 & set2)
print(set1 | set2)
print(set1 - set2)
print(set1 ^ set2)

{10, 20, 30}
{40, 50, 30}
{30}
{50, 20, 40, 10, 30}
{10, 20}
{40, 10, 50, 20}

### 세트 메소드(Set Methods)

* 교집합: intersection()
* 합집합: union()
* 차집합: difference()
* 여집합: symmetric_difference()

In [142]:
set1 = {10, 20, 20, 30}
set2 = {30, 30, 40, 50}
print(set1)
print(set2)
print(set1.intersection(set2))
print(set1.union(set2))
print(set1.difference(set2))
print(set1.symmetric_difference(set2))

{10, 20, 30}
{40, 50, 30}
{30}
{50, 20, 40, 10, 30}
{10, 20}
{40, 10, 50, 20}

* 요소 추가: add()
* 여러 요소 추가: update()
* 요소 제거: remove()
* 요소 제거: discard()
* 모든 요소 제거: clear()

In [156]:
set = {10, 20, 30, 40}
print(set)

set.add(50)
print(set)

#set.update(10, 60, 70)
set.update([10, 60, 70])
print(set)

set.remove(70)
set.remove(60)
print(set)

#set.remove([10, 20])
#print(set)

set.discard(30)  #remove와 discard는 뭔 차이지?
'''
https://dev.plusblog.co.kr/41
remove() 메소드는 지우려는 엘리먼트가 존잰하지 않으면 KeyError가 발생하지만
discard() 메소드는 엘리먼트가 없어도 정상종료한다. remove()는 실제 존재하는 
대상을 지우는 동작에, discard()는 존재하지 않음을 보장하려고 할때 사용하면 될 것 같다.
'''
print(set)

set.clear()
print(set)

{40, 10, 20, 30}
{40, 10, 50, 20, 30}
{70, 40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 30}
{40, 10, 50, 20}
set()



---

## 딕셔너리(Dictionary)

* 키(key)와 값(value)의 쌍으로 구성된 데이터
* 순서가 없는 데이터
* 키를 통해 값을 얻음
* 동일한 키가 있을경우 덮어씀

In [168]:
dic = {1: "One", 2:"Two", 3: "Three"}
print(dic)
dic = {1: "One", 2:"Two", 3: "Three", 1: "One", 2:"Two", 3: "Three"}
print(dic)

{1: 'One', 2: 'Two', 3: 'Three'}
{1: 'One', 2: 'Two', 3: 'Three'}

### 딕셔너리 요소 추가/삭제

* 딕셔너리의 해당 키 값에 값을 추가하여 요소 추가
* del을 이용하여 요소 제거

In [175]:
dic = {1: "One", 2:"Two", 3: "Three"}
print(dic[2]) #2는 인텍스 값이 아니로 키값임, 2가 인덱스라면 "three"가 출력되어야 함
dic[4] = 'Four'
print(dic[4])
print(dic)
del dic[4]
print(dic)


dic = {"One":1, "Two":2, "Three":3}
print(dic["Two"])

Two
Four
{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four'}
{1: 'One', 2: 'Two', 3: 'Three'}
2

### 딕셔너리 메소드(Dictionary Methods)


* keys(): 딕셔너리의 키 가져오기
* values(): 딕셔너리의 값 가져오기
* items(): 딕셔너리의 키와 값을 모두 가져오기
* get(): 딕셔너리에서 키에 해당하는 값 가져오기
* pop(): 딕셔너리에서 키에 해당하는 값 추출하기
* clear(): 딕셔너리의 모든 요소를 제거하기

In [185]:
dic = {1: "One", 2:"Two", 3: "Three"}
print(dic)
print(dic.keys())
print(dic.values())
print(dic.items())

print(dic.get(1))
print(dic)
print(dic.pop(2))
print(dic)
dic.clear()
print(dic) #이렇게 출력되면 {}게 집합인지, dic인지 어떻게 알까?

{1: 'One', 2: 'Two', 3: 'Three'}
dict_keys([1, 2, 3])
dict_values(['One', 'Two', 'Three'])
dict_items([(1, 'One'), (2, 'Two'), (3, 'Three')])
One
{1: 'One', 2: 'Two', 3: 'Three'}
Two
{1: 'One', 3: 'Three'}
{}

In [186]:
###end of codes