<a href="https://colab.research.google.com/github/mkbahk/PythonLearning/blob/main/_07_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수(Function)

### 함수의 정의

* 특정값 x를 인자로 받고, 결과값을 반환: Y = f(x)
* 함수가 필요할 때마다 호출 가능
* 논리적인 단위로 분할 가능
* 코드의 캡슐화(Capsulation)
* 중복되는 소스코드를 최소화
* 소스코드의 재사용성을 높임

## 함수 기본

### 함수 선언
* 함수 선언 문법


```
def 함수명(매개변수):
   <수행문>
   return <반환값>
```

* def: 정의(definition)의 줄임으로 사용
* 함수명: 사용자가 임으로 지정
* 함수명 컨벤션(convention)
 * 짧고 명료한 이름
 * 소문자로 입력
 * 띄어쓰기는 '_'기호 사용(hello_world)
 * 동사와 명사를 함께 사용(find_name)
* 매개변수(parameter): 함수에서 입력값으로 사용하는 변수
* 반환값: 함수에서 반환할 결과값 지정

### 매개변수와 반환값이 없는 함수

* 함수에 매개변수와 반환값이 없이 사용 가능
* 함수를 호출하면 함수의 수행문이 실행

In [2]:
def hello_python():
  print("Hello Python")
###

hello_python()

Hello Python

### 매개변수만 있는 함수

* 문자열 매개변수를 사용한 함수

In [5]:
def hello_something(string):
  print("Hello", string)
###

hello_something("Python")

Hello Python

### 반환 값만 있는 함수

* 문자열 반환 값을 사용한 함수

In [9]:
def hello_something():
  return "Hello Python"
###

hello_something()

#print(hello_something())

'Hello Python'

### 매개변수와 반환 값이 있는 함수

* 정수형 매개변수와 반환 값을 사용한 함수

In [10]:
def return_square(num):
  return num * num
###

return_square(5)

25

### 매개변수가 여러개 있는 함수

* 정수형 매개변수 여러개를 사용한 함수
* 매개변수를 지정하여 호출 가능

In [12]:
def add_number(n1, n2):
  return n1 + n2
###

print(add_number(5, 7))
print(add_number(n1 = 5, n2 = 7))
print(add_number(n2 = 7, n1 = 5))

12
12
12

### 키워드 매개변수

* 함수의 매개변수를 변수명을 지정하여 호출 가능

In [ ]:
def add_number(n1, n2):
  return n1 + n2
###

print(add_number(n1 = 5, n2 = 7))
print(add_number(n2 = 7, n1 = 5))

### 가변 매개변수

* 매개변수가 몇 개인지 알 수 없을 때 사용
* 매개변수 앞에 '*'을 표시

* tuple의 특징은 변경불가

In [14]:
def sum_numbers(*args):
  result = 0
  print(type(args))
  for i in args:
    result += i
  ###
  return result
###

print(sum_numbers(1, 2, 3))
print(sum_numbers(1, 2, 3, 4, 6))

<class 'tuple'>
6
<class 'tuple'>
16

### 가변 키워드 매개변수

* 매개변수의 이름을 따로 지정하지 않고 사용
* 매개변수 앞에 '**'을 표시
* dictionary 형태로 받아 옴

In [16]:
def print_kwags(**kwargs):
  print(kwargs)
  print(type(kwargs))
###

print_kwags(n1 = 5, n2 = 7)
print_kwags(id = "mkbahk", pw="12345")

{'n1': 5, 'n2': 7}
<class 'dict'>
{'id': 'mkbahk', 'pw': '12345'}
<class 'dict'>

### 초기값 매개변수

* 매개변수에 초기값을 설정하여 사용
* 함수에 매개변수를 사용하지 않을 때 초기값을 사용

In [19]:
def power(b = 2, n = 2):
  return pow(b, n)
###


print(power())
print(power(2, 5))
print(power(3))
print(power(n=3))

4
32
9
8

### 여러 반환 값이 있는 함수

* 함수의 반환값은 하나
* 여러 반환값을 사용할 경우 튜플 형태로 반환
* return은 tuple 임.

In [22]:
def plus_and_minus(n1, n2):
  return n1 + n2, n1 - n2
###

result = plus_and_minus(8, 5)
print(result)

#튜플로 따로따로 받을 수도 있음
result1, result2 = plus_and_minus(7, 8)
print(result1, result2)

(13, 3)
15 -1

### [Lab] 계산기 함수

* 두 수에 대해서 덧셈, 뺄셈, 곱셈, 나눗셈을 수행하는 함수

In [24]:
def calc(op, n1, n2):
  result =  0
  
  if op == '+':
    result = n1 + n2
  elif op == '-':
    result = n1 - n2
  elif op == '*':
    result = n1 * n2
  elif op == '/':
    result = n1 / n2
  ###
  return result

print(calc('+', 5, 8))

print(calc('*', 5, 8))

13
40

### [Lab] 가변 매개변수의 평균값 계산

* 가변 매개변수로 들어오는 모든 수의 평균값 계산

In [26]:
def avg(*agrs):
  sum = 0
  for i in args:
    sum += i
  ###
  return (sum / len(args))
###

print(1, 2, 3, 4, 5)

1 2 3 4 5



---

## 변수의 유효범위

### 유효 범위

* 변수는 유효한 범위가 존재
* 함수 안에서 선언된 변수는 함수 내부에서 유효함

In [29]:
def var_scope(a):
  a = a + 1
###

a = 10
var_scope(a)
print(a) # 11일 아니라 10일, 이것이 scope임

10

### 변수의 종류

* 지역 변수: 한정된 지역에서만 사용되는 변수
* 전역 변수: 프로그램 전체에서 사용되는 변수

In [31]:
a = 10 #전역변수

def func1():
  a = 20 #지역변수
  print(a)
###

def func2():
  print(a) # 전역변수 사용
###

func1()
func2()

20
10


### 전역 변수 사용 global

* 함수 내부에서 전역 변수를 사용하기 위한 `global` 키워드

In [33]:
a = 10 #전역변수

def func1():
  global a
  a = 20 #전역변수 사용
  print(a)
###

def func2():
  print(a)
###

func1()
func2() #전역변수를 func1()에서 변경해서 결과가 20임

20
20



---

## 함수 심화

### 내부 함수(Nested Function)

* 함수 안에 함수가 존재
* 내부 함수는 외부에서 호출 불가
* 내부 함수는 내부에서만 호출

In [36]:
def func1(n1, n2):
  def func2(num1, num2):
    return num1 + num2
  ###
  return func2(n1, n2)
###

print(func1(5, 8))

print(func2(5, 8))

13

TypeError: ignored

### 재귀 함수(Recursive Function)

* 함수가 자기 자신을 다시 부르는 함수
* `count()` 함수 내부에서 `count()` 함수를 호출
* 재귀적으로 카운트 수를 출력

In [37]:
def count(n):
  if n >= 1:
    print(n, end=" ")
    count(n - 1)
  else:
    return #그냥 종료
  ###
###

count(10)

10 9 8 7 6 5 4 3 2 1

#### [Lab] 재귀 함수를 이용한 합계

* `sum()` 함수 내부에서 `sum()` 함수를 호출
* 재귀적으로 합계를 계산

In [39]:
def sum(n):
  if n == 1:
    return 1
  else:
    return n + sum(n - 1)
  ###
###

print(sum(10))
print(sum(100))
print(sum(0))

55
5050

RecursionError: ignored

#### [Lab] 팩토리얼 함수(Factorial Function)

* 팩토리얼(factorial) 함수는 대표적인 재귀 함수
* 팩토리얼 함수: $n!=1 \times 2 \times 3 \dots (n-2) \times (n-1) \times n = n! = n \times (n-1)!$

In [44]:
def factorial(n):
  if n == 1:
    return 1
  else:
    return n * factorial(n - 1)
  ###
###

print(factorial(3)) # 3 * 2 * 1
print(factorial(5))
print(factorial(10))
print(factorial(100))
print(factorial(1000))
print(factorial(10000))

6
120
3628800
93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

RecursionError: ignored

### 람다 함수(Lambda Function)

* 함수를 한 줄로 간결하게 만들어 사용

In [54]:
def add(n1, n2):
  return n1 + n2
###

print(add(5, 8))

#람다함수 정의
add2 = lambda n1, n2 : n1 + n2
print(add2(5, 8))

def add3(n1, n2):
  return lambda n1, n2: n1 + n2
###
print(add3(5, 8))

def add4(n1, n2):
  return (lambda n1, n2: n1 + n2)
###
print(add4(5, 8))

def add4(n11, n21):
  return (lambda n1 = n11, n2 = n21: n1 + n2)
###
print(add4(5, 8))

##결국 아래와 같이 호출해야 한다.함수의 인자는 함수이름() 다음에 (인자1, 인자2) 이기 때문입니다.
def add5(n1, n2):
  return (lambda n1, n2: n1 + n2)(n1, n2)
###
print(add5(5, 8))


#아래와 형태도 가능
print((lambda n1, n2: n1 + n2)(5, 8))

13
13
<function add3.<locals>.<lambda> at 0x7fa083897a70>
<function add4.<locals>.<lambda> at 0x7fa083897320>
<function add4.<locals>.<lambda> at 0x7fa0838970e0>
13
13

#### map()

* `map()`: built-in 함수로 list 나 dictionary 와 같은 iterable 한 데이터를 인자로 받아 list 안의 개별 item을 함수의 인자로 전달하여 결과를 list로 형태로 반환해 주는 함수
* 람다 함수와 `map()` 함수를 이용한 리스트 계산

In [61]:
li = [1, 2, 3, 4, 5]
square = lambda n : n * n
li2 = list(map(square, li))
print(li2)

[1, 4, 9, 16, 25]

In [62]:
li3 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
li4 = list(map(lambda n : n * n, li3))  #li3은 원래 리스트인데 map()가 값을 하나씩 끄집어 내어주는 역할
print(li4)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [64]:
li5 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(list(map(lambda n : n, li5)))  #li3은 원래 리스트인데 map()가 값을 하나씩 끄집어 내어주는 역할

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
li_1 = [1, 2, 3, 4, 5]
li_2 = [6, 7, 8, 9,10]

li_3 = list(map((lambda n_1, n_2 : n_1 + n_2), li_1, li_2))
print(li_3)

[7, 9, 11, 13, 15]

### filter()

* `filter()` 함수: iterable 한 데이터를 인자로 개별 item을 특정 조건에 해당하는 값으로만 필터링
* 람다 함수와 `filter()` 함수를 이용한 리스트 필터링

### reduce()

* reduce() 함수: iterable 한 데이터를 인자로 받아 개별 item을 축약하여 하나의 값으로 만들어 가는 과정
* 람다 함수와 reduce() 함수를 이용한 리스트 계산

## 제너레이터(generator)와 yield

* 함수 안에서 yield를 사용하면 제너레이터
* yield: 함수를 끝내지 않고 값을 계속 반환

### [Lab] 짝수만 생성하는 제너레이터

* 0 ~ n개의 숫자 중에서 짝수만 생성하는 제너레이터 함수 생성