<a href="https://colab.research.google.com/github/mkbahk/PythonLearning/blob/main/Tuple%EC%9D%80_Dictionary_Key%EB%A1%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 학생의 이름과 세 과목 점수를 튜플로 저장하고, 딕셔너리에 저장
students = {
    ('홍길동', 20231234): (90, 85, 78),
    ('김철수', 20235678): (88, 92, 89)
}

# 학생의 성적 조회
print(students[('홍길동', 20231234)])  # 출력: (90, 85, 78)

In [3]:
# 2차원 좌표를 튜플로 저장하고, 딕셔너리에 저장
points = {
    (1, 2): "A점",
    (3, 4): "B점",
    (5, 6): "C점"
}

# 좌표에 해당하는 이름 조회
print(points[(3, 4)])  # 출력: B점

B점

In [ ]:
# 다중 인덱싱을 위한 딕셔너리 생성
data = {
    (0, 'A'): 10,
    (0, 'B'): 20,
    (1, 'A'): 30,
    (1, 'B'): 40
}

# 값 조회
print(data[(1, 'A')])  # 출력: 30